# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# END WordPress

# Bloquear config
<Files wp-config.php>
    Order Deny,Allow
    Deny from all
</Files>
#Redirecciones
ErrorDocument 403 /403.html
